@{
    ViewData["Title"] = "权限管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group">
    <label for="roleId">角色</label>
    <select class="form-control" id="roleId" name="roleId" size="1" onchange="getMenu(this.value)">
        <option value="0">请选择角色</option>
    </select>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <label class="lyear-checkbox checkbox-primary">
                        <input name="checkbox" type="checkbox" id="check-all">
                        <span> 全选</span>
                    </label>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <button class="btn btn-primary" id="update-btn">保存</button>
</div>

@section Scripts
{
    <script>
        $.ajax({
            url: "/RoleMenu/GetRole",
            data: {},
            type: "get",
            success: function(res) {
                //console.log(res);
                var html = "";
                for (var i = 0; i < res.data.length; i++) {
                    //console.log(res.data[i].roleName);
                    html += "<option value='" + res.data[i].id + "'>" + res.data[i].roleName + "</option>";
                }
                $("#roleId").append(html);
            }
        });

        $.ajax({
            url: "/RoleMenu/GetMenuTree",
            data: {},
            type: "get",
            success: function(res) {
                console.log(res);
                var html = "";
                for (var i = 1; i < res.data.length + 1; i++) {
                    html +=
                        "<tr><td><label class='lyear-checkbox checkbox-primary'><input type='checkbox' id='m" +
                        res.data[i - 1].id +
                        "' class='checkbox-parent' dataid='id-" +
                        i +
                        "' value='" +
                        res.data[i - 1].id +
                        "'><span> " +
                        res.data[i - 1].name +
                        "</span></label></td></tr>";
                    if (res.data[i - 1].menuList.length > 0) {
                        html += "<tr><td class='p-l-20'>";
                        for (var j = 1; j < res.data[i - 1].menuList.length + 1; j++) {
                            html +=
                                "<label class='lyear-checkbox checkbox-primary checkbox-inline'><input type='checkbox' class='checkbox-child' id='m" +
                                res.data[i - 1].menuList[j - 1].id +
                                "' dataid='id-" +
                                i +
                                "-" +
                                j +
                                "' value='" +
                                res.data[i - 1].menuList[j - 1].id +
                                "'><span> " +
                                res.data[i - 1].menuList[j - 1].name +
                                "</span></label>";
                        }
                        html += "</td></tr>";
                    }
                }
                $("tbody").html(html);
                //动态选择框，上下级选中状态变化
                $('input.checkbox-parent').on('change',
                    function() {
                        var dataid = $(this).attr("dataid");
                        $('input[dataid^=' + dataid + '-]').prop('checked', $(this).is(':checked'));
                    }
                );
                $('input.checkbox-child').on('change',
                    function() {
                        var dataid = $(this).attr("dataid");
                        dataid = dataid.substring(0, dataid.lastIndexOf("-"));
                        var parent = $('input[dataid=' + dataid + ']');
                        if ($(this).is(':checked')) {
                            parent.prop('checked', true);
                            //循环到顶级
                            while (dataid.lastIndexOf("-") != 2) {
                                dataid = dataid.substring(0, dataid.lastIndexOf("-"));
                                parent = $('input[dataid=' + dataid + ']');
                                parent.prop('checked', true);
                            }
                        } else {
                            //父级
                            if ($('input[dataid^=' + dataid + '-]:checked').length == 0) {
                                parent.prop('checked', false);
                                //循环到顶级
                                while (dataid.lastIndexOf("-") != 2) {
                                    dataid = dataid.substring(0, dataid.lastIndexOf("-"));
                                    parent = $('input[dataid=' + dataid + ']');
                                    if ($('input[dataid^=' + dataid + '-]:checked').length == 0) {
                                        parent.prop('checked', false);
                                    }
                                }
                            }
                        }
                    });
            }
        });

        $("#update-btn").click(function() {
            if ($("#roleId").val() === "0") {
                $.error("请选择角色");
                return 0;
            }
            else {
                $.post({
                    url: "/RoleMenu/Update",
                    data: {
                        roleId: $("#roleId").val(),
                        menuArray: GetArray()
                    },
                    success: function (res) {
                        if (res.code===200) {
                            $.message("修改成功");
                            setTimeout(function() {
                                window.location.href = "@Url.Action("Index")";
                            },2000);
                        }
                    }
                });
            }
            return 0;
        });

        function GetArray() {
            var checkId = [];//定义一个空数组
            var i = 0;
            $("input[type='checkbox']:checked").each(function () {//把所有被选中的复选框的值存入数组
                if ($(this).val() !== "on") {
                    checkId[i] = $(this).val();
                    i++;
                }
            });
            return checkId;
        }

        function getMenu(id) {
            $.ajax({
                url: "/RoleMenu/GetMenuArray",
                data: {
                    id:id
                },
                type: "get",
                success: function(res) {
                    console.log(res);
                    $("input:checked").each(function (i) {
                        $(this).prop("checked",false);
                    });
                    if (res.data.length > 0) {
                        for (var i = 0; i < res.data.length; i++) {
                            $("#m" + res.data[i]).prop("checked",true);
                        }
                    }
                }
            });
        }
    </script>
}