@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-3">
    <div class="form-group">
        <label for="name">名称</label>
        <input class="form-control" type="text" id="name" name="name" placeholder="请输入仓库名称.." required="">
    </div>
    <div class="form-group">
        <label for="address">地址</label>
        <input class="form-control" type="text" id="address" name="address" placeholder="请输入仓库地址.." required="">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" id="add-btn">添加</button>
    </div>
</div>
@section Scripts
{
    <script>
        $("#add-btn").click(function () {
            var data = {
                name: $("#name").val(),
                address: $("#address").val()
            }
            $.post({
                url: "@Url.Action("AddStorage")",
                data: data,
                success: function(res) {
                    $.message(res.message);
                    setTimeout(function() {
                        window.location.href = "@Url.Action("Index")";
                    },1500);
                }
            });
        });
    </script>
}