@{
    ViewData["Title"] = "仓库管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <button id="add-btn" class="btn btn-cyan">添加仓库</button>
    <table class="table table-striped table-hover" id="storage-table">
    </table>
</div>

@section Scripts
{
    <script>
        $('#storage-table').bootstrapTable({
            method: 'get',
            url: "/Storage/GetAll", //请求路径
            striped: true, //是否显示行间隔色
            pageNumber: 1, //初始化加载第一页
            pagination: true, //是否分页
            sidePagination: 'client', //server:服务器端分页|client：前端分页
            pageSize: 5, //单页记录数
            pageList: [5, 10, 20, 30], //可选择单页记录数
            showRefresh: true, //刷新按钮
            columns: [
                {
                    field: "id",
                    title: "主键"
                }, {
                    field: "name",
                    title: "仓库名称"
                },{
                    field: "address",
                    title: "仓库地址"
                }, {
                    field: "capacity",
                    title: "仓库容量"
                }, {
                    field: "id",
                    title: "操作",
                    formatter: function(value, row, index) {
                        var html = '';
                        html += "<button class='btn btn-default' onclick='edit(" + value + ")'>修改</button>";
                        html += "<button class='btn btn-default' onclick='region(" + value + ")'>区域</button>";
                        html += "<button class='btn btn-default' onclick='del(" + value + ")'>删除</button>";
                        return html;
                    }
                }
            ]
        });

        $("#add-btn").click(function () {
            window.location.href = "@Url.Action("Create")";
        });
        function edit(id) {
            window.location.href = "@Url.Action("Update")?id="+id;
        }
        function region(id) {
            window.location.href = "@Url.Action("Region")?id="+id;
        }
        function del(id) {
            $.post({
                url: '/Storage/DeleteStorage',
                data: {
                    id:id
                },
                success: function() {
                    window.location.href = "@Url.Action("Index")";
                }
            });
        }
    </script>
}