@{
    ViewData["Title"] = "仓库区域管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <button class="btn btn-cyan" id="choose-btn">选择已有区域</button>
    @*<button type="button" class="btn btn-cyan" data-toggle="modal" data-target=".choose-modal-lg">选择已有区域</button>
        <div class="modal fade choose-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myLargeModalLabel">所有区域</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-hover" id="choose-table">
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>*@

    <button type="button" class="btn btn-cyan" data-toggle="modal" data-target=".add-modal-lg">添加新区域并加入</button>
    <div class="modal fade add-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="title">添加新区域并加入</h4>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="name">名称</label>
                            <input class="form-control" type="text" id="name" name="name" placeholder="请输入区域名称.." required="">
                        </div>
                        <div class="form-group">
                            <label for="capacity">容量</label>
                            <input class="form-control" type="number" id="capacity" name="capacity" placeholder="请输入区域容量.." required="">
                        </div>
                        <div class="form-group">
                            <button id="add-btn" class="btn btn-primary" type="submit">添加</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped table-hover" id="region-table">
    </table>
    <div class="modal fade update-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="update-title">修改仓库区域</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="update-id" name="update-id" value="" />
                    <input type="hidden" id="update-regionId" name="update-regionId" value="" />
                    <div class="form-group">
                        <label for="name">名称</label>
                        <input class="form-control" type="text" id="update-name" name="update-name" placeholder="请输入区域名称.." required="">
                    </div>
                    <div class="form-group">
                        <label for="capacity">容量</label>
                        <input class="form-control" type="number" id="update-capacity" name="update-capacity" placeholder="请输入区域容量.." required="">
                    </div>
                    <div class="form-group">
                        <button id="update-btn" class="btn btn-primary">修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('#region-table').bootstrapTable({
            method: 'get',
            url: "/Storage/GetAllStorageRegion?id=" + GetId(), //请求路径
            striped: true, //是否显示行间隔色
            pageNumber: 1, //初始化加载第一页
            pagination: true, //是否分页
            sidePagination: 'client', //server:服务器端分页|client：前端分页
            pageSize: 5, //单页记录数
            pageList: [5, 10, 20, 30], //可选择单页记录数
            showRefresh: true, //刷新按钮
            columns: [
                {
                    field: "storageRegionId",
                    title: "主键"
                }, {
                    field: "name",
                    title: "区域名称"
                }, {
                    field: "capacity",
                    title: "区域容量"
                }, {
                    field: "storageRegionId",
                    title: "操作",
                    formatter: function (value, row, index) {
                        var html = '';
                        html += "<button type='button' onclick='find(" + value + ")' class='btn btn-default' data-toggle='modal' data-target='.update-modal-lg'>修改</button>";
                        html += "<button class='btn btn-default' onclick='del(" + value + ")'>删除</button>";
                        return html;
                    }
                }
            ],
            responseHandler: function (res) {
                //console.log(res);
                //console.log(typeof res);
                return res.region;
            }
        });

        function del(id) {
            $.ajax({
                url: '/Storage/DeleteStorageRegion',
                data: {
                    id: id
                },
                type: 'post',
                success: function () {
                    window.location.reload(true);
                },
                error: function (res) {
                    alert(res);
                }
            });
        }

        function add(id) {
            $.ajax({
                url: '/Storage/AddStorageRegion',
                data: {
                    RegionId: id,
                    StorageId: GetId()
                },
                type: 'post',
                success: function () {
                    //window.location.reload(true);
                    window.location.href = "/Storage/Region?id=" + GetId();
                },
                error: function (res) {
                    alert(res);
                }
            });
        }

        function find(id) {
            $.get({
                url: "/Storage/FindStorageRegion",
                data: {
                    id: id
                },
                success: function (res) {
                    $("#update-id").val(id);
                    $("#update-regionId").val(res.data.regionId);
                    $("#update-name").val(res.data.regionName);
                    $("#update-capacity").val(res.data.capacity);

                }
            });
        }

        $('#choose-table').bootstrapTable({
            method: 'get',
            url: "/Storage/GetAllRegion", //请求路径
            striped: true, //是否显示行间隔色
            pageNumber: 1, //初始化加载第一页
            pagination: true, //是否分页
            sidePagination: 'client', //server:服务器端分页|client：前端分页
            pageSize: 5, //单页记录数
            pageList: [5, 10, 20, 30], //可选择单页记录数
            showRefresh: true, //刷新按钮
            columns: [
                {
                    field: "id",
                    title: "主键"
                }, {
                    field: "name",
                    title: "区域名称"
                }, {
                    field: "id",
                    title: "操作",
                    formatter: function (value, row, index) {
                        var html = '';
                        html += "<button class='btn btn-default' onclick='add(" + value + ")'>添加</button>";
                        return html;
                    }
                }
            ]
        });
    </script>

    <script>
        $("#add-btn").click(function () {
            var data = {
                storageId:GetId(),
                regionName: $("#name").val(),
                regionCapacity: $("#capacity").val()
            };
            $.post({
                url: '@Url.Action("AddNewRegion")',
                data: data,
                success: function (res) {
                    $.message(res.message);
                    setTimeout(function () {
                        window.location.reload();
                    }, 1500);
                }
            });
        });

        $("#update-btn").click(function() {
            var data = {
                id: $("#update-id").val(),
                regionId: $("#update-regionId").val(),
                regionName: $("#update-name").val(),
                capacity: $("#update-capacity").val()
            };
            $.post({
                url: "/Storage/UpdateStorageRegion",
                data: data,
                success: function(res) {
                    $.message(res.message);
                    setTimeout(function() {
                        window.location.reload();
                    },1500);
                }
            });
        });

        $("#choose-btn").click(function() {
            window.location.href = "@Url.Action("Choose")?id="+GetId();
        });
    </script>
}