@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-3">
    <input type="hidden" name="id" id="id" value="" />
    <div class="form-group">
        <label for="name">名称</label>
        <input class="form-control" type="text" id="name" name="name" placeholder="请输入仓库名称.." required="">
    </div>
    <div class="form-group">
        <label for="address">地址</label>
        <input class="form-control" type="text" id="address" name="address" placeholder="请输入仓库地址.." required="">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" id="update-btn">修改</button>
    </div>
</div>
@section Scripts
{
    <script>
        $.ajax({
            url: '/Storage/Find',
            data: {
                id: GetId
            },
            type: 'get',
            success: function (res) {
                console.log(res);
                $("#id").val(res.id);
                $("#name").val(res.name);
                $("#address").val(res.address);
            }
        });
        $("#update-btn").click(function () {
            var data = {
                id: $("#id").val(),
                name: $("#name").val(),
                address: $("#address").val()
            };
            $.post({
                url: "/Storage/UpdateStorage",
                data: data,
                success: function(res) {
                    if (res.code===200) {
                        $.message(res.message);
                        setTimeout(function() {
                            window.location.href = "@Url.Action("Index")";
                        },1500);
                    }
                }
            });
        });
    </script>
}