@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group">
    <label class="col-md-3 control-label" for="name">用户名</label>
    <div class="col-md-7">
        <input class="form-control" type="text" id="name" name="name" placeholder="请输入用户名..">
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label" for="pwd">密码</label>
    <div class="col-md-7">
        <input class="form-control" type="password" id="pwd" name="pwd" placeholder="请输入密码..">
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label" for="corporatename">公司名</label>
    <div class="col-md-7">
        <input class="form-control" type="text" id="corporatename" name="corporatename" placeholder="请输入公司名..">
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label" for="phone">手机号</label>
    <div class="col-md-7">
        <input class="form-control" type="text" id="phone" name="phone" placeholder="请输入手机号..">
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label" for="email">邮箱</label>
    <div class="col-md-7">
        <input class="form-control" type="email" id="email" name="email" placeholder="请输入邮箱..">
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label" for="postcode">邮编</label>
    <div class="col-md-7">
        <input class="form-control" type="text" id="postcode" name="postcode" placeholder="请输入邮编..">
    </div>
</div>
<div class="form-group">
    <label class="col-md-3 control-label" for="address">地址</label>
    <div class="col-md-7">
        <input class="form-control" type="text" id="address" name="address" placeholder="请输入地址..">
    </div>
</div>
<div class="form-group">
    <div class="col-md-9 col-md-offset-3">
        <button id="add-btn" class="btn btn-primary" type="submit">添加</button>
    </div>
</div>

@section Scripts
{
    <script>
        //$("#add-btn").click(function() {
        //    // console.log('111');
        //    console.log($("#name").val());
        //})
        //console.log($)
        $("#add-btn").click(function () {
            //console.log("111");
            var data = {
                name: $("#name").val(),
                pwd: $("#pwd").val(),
                phone: $("#phone").val(),
                corporatename: $("#corporatename").val(),
                email: $("#email").val(),
                postcode: $("#postcode").val(),
                address: $("#address").val()
            }
            //console.log(data);
            $.ajax({
                url: '/Home/AddUser',
                type: 'post',
                data: data,
                success: function () {
                    window.location.href = "@Url.Action("Index")";
                },
                error: function () {
                    alert("添加失败");
                }
            });
        });
    </script>
}