@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-8">
    <div class="form-group">
        <label class="col-md-2 control-label" for="name">用户名</label>
        <div class="col-md-10">
            <input class="form-control" type="text" id="name" name="name" placeholder="请输入用户名..">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="pwd">密码</label>
        <div class="col-md-10">
            <input class="form-control" type="password" id="pwd" name="pwd" placeholder="请输入密码..">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="email">邮箱</label>
        <div class="col-md-10">
            <input class="form-control" type="email" id="email" name="email" placeholder="请输入邮箱..">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="roleId">角色</label>
        <div class="col-md-10">
            <select class="form-control" id="roleId" name="roleId">
                <option value="0">请选择角色</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="state">是否启用</label><br />
        <label class="lyear-switch switch-solid switch-info">
            <input type="checkbox" id="state" name="state" checked="" value="1">
            <span></span>
        </label>
    </div>
    <div class="form-group">
        <div class="col-md-9 col-md-offset-3">
            <button id="add-btn" class="btn btn-primary" type="submit">添加</button>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $("#state").click(function () {
            if ($("#state").is(":checked")) {
                $("#state").val("1");
            } else {
                $("#state").val("0");
            }
        });
        $.ajax({
            url: "/Role/GetRole",
            data: {},
            type: "get",
            success: function(res) {
                console.log(res);
                var html = "";
                for (var i = 0; i < res.length; i++) {
                    html += "<option value="+res[i].id+">"+res[i].roleName+"</option>";
                }
                $("#roleId").append(html);
            }
        });
        $("#add-btn").click(function () {
            var data = {
                name: $("#name").val(),
                pwd: $("#pwd").val(),
                email: $("#email").val(),
                roleId: $("#roleId").val(),
                state:$("#state").val()
            }
            $.post({
                url: '/Home/AddUser',
                data: data,
                success: function (res) {
                    $.message("添加成功，即将跳转到首页");
                    setTimeout(function() {
                        window.location.href = "@Url.Action("Index")";
                    },2000);

                }
            });
        });
    </script>
}