@using WareHouse.Entity
@{
    ViewData["Title"] = "后台首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card bg-primary">
                <div class="card-body clearfix">
                    <div class="pull-right">
                        <p class="h6 text-white m-t-0">用户总数</p>
                        <p class="h3 text-white m-b-0" id="userTotal"></p>
                    </div>
                    <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-account fa-1-5x"></i></span> </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card bg-danger">
                <div class="card-body clearfix">
                    <div class="pull-right">
                        <p class="h6 text-white m-t-0">货物总数</p>
                        <p class="h3 text-white m-b-0" id="goodsTotal"></p>
                    </div>
                    <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-package-variant-closed fa-1-5x"></i></span> </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card bg-success">
                <div class="card-body clearfix">
                    <div class="pull-right">
                        <p class="h6 text-white m-t-0">仓库数量</p>
                        <p class="h3 text-white m-b-0" id="storageTotal"></p>
                    </div>
                    <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-home-outline fa-1-5x"></i></span> </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card bg-purple">
                <div class="card-body clearfix">
                    <div class="pull-right">
                        <p class="h6 text-white m-t-0">区域数量</p>
                        <p class="h3 text-white m-b-0" id="regionTotal"></p>
                    </div>
                    <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-blackberry fa-1-5x"></i></span> </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="card">
        <div class="col-lg-4">
            @*<div class="card">
                    <div class="card-header"><h4>饼图</h4></div>
                    <div class="card-body">
                        <canvas id="chart-pie" width="280" height="280" style="display: block;"></canvas>
                    </div>
                </div>*@
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/Chart.js"></script>
    <script>
        $.ajax({
            url: "@Url.Action("GetHomeModel")",
            data: {},
            type: "get",
            success: function (res) {
                console.log(res);
                $("#userTotal").text(res.data.userTotal);
                $("#goodsTotal").text(res.data.goodsTotal);
                $("#storageTotal").text(res.data.storageTotal);
                $("#regionTotal").text(res.data.regionTotal);
                var html = "";
                for (var i = 0; i < res.data.storageInfos.length; i++) {
                    html += "<div class='col-lg-4'><div class='card'><div class='card-header'><h4>" + res.data.storageInfos[i].storageName + "</h4></div><div class='card-body'><canvas id='chart-pie" + i+1 + "' width='280' height='280' style='display: block;'></canvas></div></div></div>";
                }
                $("#card").html(html);
                for (var j = 0; j < res.data.storageInfos.length; j++) {
                    var coreJsShared = new Chart($("#chart-pie"+j+1), {
                        type: 'pie',
                        data: {
                            labels: ["货物数量", "仓库剩余容量"],
                            datasets: [{
                                data: [res.data.storageInfos[j].joinTotal, res.data.storageInfos[j].capacity],
                                backgroundColor: ['rgba(255,99,132,1)','rgba(54, 162, 235, 1)']
                            }]
                        },
                        options: {
                            responsive: false
                        }
                    });

                }
            }
        });
    </script>
}