@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>

<a href="/Home/TestUnit" class="btn btn-default" id="test-btn">测试</a>
<a href="/Home/Business" class="btn btn-default" id="business-btn">BusinessException</a>
<table id="mytab" class="table table-hover"></table>

<figure>
    <h3>图片验证码</h3>
    <fieldset>
        <img id="mixImg" title="数字字母混合验证码" src="/Login/MixVerifyCode" alt="vcode" style="cursor:pointer;" />
    </fieldset>
    <input type="text" name="code" id="code" value="" />
    <button id="check-btn" class="btn btn-default">校验</button>
</figure>

@section Scripts
{
    <script>
        $("#mixImg").click(function () {
            $("#mixImg").prop("src", "/Login/MixVerifyCode?" + Math.random());
        });
        $("#check-btn").click(function () {
            $("#mixImg").trigger('click');
            //$("#mixImg").prop("src", "/Login/MixVerifyCode?" + Math.random());
            //var code = $("#code").val();
            //if (code === "") {
            //    $.message("请输入验证码");
            //    return 0;
            //}
            //$.post({
            //    url: "/Home/CheckCode",
            //    data: {
            //        code: code
            //    },
            //    success: function (res) {
            //        $.message(res.message);
            //    },
            //    error: function () {
            //        $("#mixImg").prop("src", "/Login/MixVerifyCode?" + Math.random());
            //    }
            //});
        });
    </script>
}