@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>

<a href="/Home/TestUnit" class="btn btn-default" id="test-btn">测试</a>
<a href="/Home/Business" class="btn btn-default" id="business-btn">BusinessException</a>
<table id="mytab" class="table table-hover"></table>

@section Scripts
{
    <script>
                                        //$("#test-btn").click(function () {
                                        //    $.get({
                                        //        url: "/Home/TestUnit",
                                        //        data: {},
                                        //        success: function () {

                                        //        }
                                        //    });
                                        //});
                                        //$("#business-btn").click(function () {
                                        //    $.get({
                                        //        url: "/Home/Business",
                                        //        data: {},
                                        //        success: function () {

                                        //        }
                                        //    });
                                        //});
    </script>
}