@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>

<a class="btn btn-default" id="test-btn">测试</a>
<table id="mytab" class="table table-hover"></table>

@section Scripts
{
    <script>
        $("#test-btn").click(function () {
            $.ajax({
                url: '/Menu/GetMenuTreeByRoleId',
                data: {
                    id: "4"
                },
                type: 'get',
                success: function (res) {
                    console.log(res);
                }
            });
        });
    </script>
}