@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <button id="add-btn" class="btn btn-cyan">添加种类</button>
    <table class="table table-striped table-hover" id="type-table">
    </table>
</div>

@section Scripts
{
    <script>
        $('#type-table').bootstrapTable({
            method: 'get',
            url: "/GoodsType/GetAll", //请求路径
            striped: true, //是否显示行间隔色
            pageNumber: 1, //初始化加载第一页
            pagination: true, //是否分页
            sidePagination: 'client', //server:服务器端分页|client：前端分页
            pageSize: 5, //单页记录数
            pageList: [5, 10, 20, 30], //可选择单页记录数
            showRefresh: true, //刷新按钮
            columns: [
                {
                    field: "id",
                    title: "主键"
                }, {
                    field: "name",
                    title: "分类名称"
                }, {
                    field: "id",
                    title: "操作",
                    formatter: function(value, row, index) {
                        var html = '';
                        html += "<button class='btn btn-default' onclick='edit(" + value + ")'>修改</button>";
                        html += "<button class='btn btn-default' onclick='del(" + value + ")'>删除</button>";
                        return html;
                    }
                }
            ]
        });

        $("#add-btn").click(function () {
            window.location.href = "@Url.Action("Create")";
        });
        function edit(id) {
            window.location.href = "@Url.Action("Update")?id="+id;
        }
        function del(id) {
            $.ajax({
                url: '/GoodsType/DeleteType',
                data: {
                    id:id
                },
                type: 'post',
                success: function() {
                    window.location.href = "@Url.Action("Index")";
                },
                error: function(res) {
                    alert(res);
                }
            });
        }
    </script>
}