@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-3">
    <input type="hidden" name="id" id="id" value="" />
    <div class="form-group">
        <label for="name">名称</label>
        <input class="form-control" type="text" id="name" name="name" placeholder="请输入区域名称.." required="">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" id="update-btn">修改</button>
    </div>
</div>

@section Scripts
{
    <script>
        $.get({
            url: "/Region/Find",
            data: {
                id: GetId()
            },
            success: function (res) {
                console.log(res);
                $("#id").val(res.data.id);
                $("#name").val(res.data.name);
            }
        })
        $("#update-btn").click(function () {
            $.post({
                url: "UpdateRegion",
                data: {
                    id: $("#id").val(),
                    name: $("#name").val()
                },
                success: function (res) {
                    $.message(res.message);
                    setTimeout(function() {
                        window.location.href = "@Url.Action("Index")";
                    },1500);
                }
            });
        });
    </script>
}