@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>登录页面</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="~/css/style.min.css" rel="stylesheet">
    <style>

        .lyear-wrapper {
            position: relative;
        }

        .lyear-login {
            display: flex !important;
            min-height: 100vh;
            align-items: center !important;
            justify-content: center !important;
        }

        .login-center {
            background: #fff;
            min-width: 38.25rem;
            padding: 2.14286em 3.57143em;
            border-radius: 5px;
            margin: 2.85714em 0;
        }

        .login-header {
            margin-bottom: 1.5rem !important;
        }

        .login-center .has-feedback.feedback-left .form-control {
            padding-left: 38px;
            padding-right: 12px;
        }

        .login-center .has-feedback.feedback-left .form-control-feedback {
            left: 0;
            right: auto;
            width: 38px;
            height: 38px;
            line-height: 38px;
            z-index: 4;
            color: #dcdcdc;
        }

        .login-center .has-feedback.feedback-left.row .form-control-feedback {
            left: 15px;
        }
    </style>
</head>

<body>
    <div class="row lyear-wrapper">
        <div class="lyear-login">
            <div class="login-center">
                <form action="/Login/CheckLogin" method="post">
                    <div class="login-header text-center">
                        <img alt="light year admin" src="~/images/logo-sidebar.png">
                    </div>
                    <div class="form-group has-feedback feedback-left">
                        <input type="text" placeholder="请输入您的用户名" class="form-control" name="name" id="name" required="" />
                        <span class="mdi mdi-account form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback feedback-left">
                        <input type="password" placeholder="请输入密码" class="form-control" id="pwd" name="pwd" required="" />
                        <span class="mdi mdi-lock form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback feedback-left">
                        <select class="form-control" id="roleId" name="roleId" size="1">
                            <option value="0">请选择角色</option>
                            <option value="1">用户</option>
                            <option value="2">入库管理员</option>
                            <option value="3">出库管理员</option>
                            <option value="4">系统管理员</option>
                        </select>
                        <span class="mdi mdi-lock form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-primary" type="submit" id="login-btn">立即登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript">;</script>
</body>
</html>

<script>
                //$("#login-btn").click(function () {
        //    var data = {
        //        name: $("#name").val(),
        //        pwd: $("#pwd").val()
        //    };
        //    if (data.name === "" || data.pwd === "") {
        //        alert("用户名和密码不能为空");
        //        return;
        //    }
        //    $.ajax({
        //        url: '/Login/CheckLogin',
        //        data: data,
        //        type: 'post',
        //        success: function (res) {
        //            console.log(res);
        //            if (res === "success") {
        //                window.location.href = "/Home/Index";
        //            }
        //            if (res === "error") {
        //                alert("用户名或密码错误");
        //                window.location.href = "/Login/Login";
        //            }
        //        }
        //    });
        //});
</script>